[Unit]
Description=Wiki.js
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node server
Restart=always
RestartSec=5
User={{ wikijs_system_user }}
Environment=NODE_ENV=production
WorkingDirectory={{ wikijs_download_dest }}

[Install]
WantedBy=multi-user.target